


.image_container {
position: relative;
width: 100%;
height: 60vh; /* Set the desired height */
background-image:
    linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.219)), 
    url('../../Assets/Images/about_cover.jpg'); 
background-size: cover;
background-position: center;
}



.main_text {
color: #fff;
cursor: pointer;
}




.image_container img {
width: 15%;
display: none;
height: 300px;
display: block;
}

.text_overlay {
position: absolute;
top: 50%; /* Adjust vertical positioning */
left: 50%; /* Adjust horizontal positioning */
transform: translate(-50%, -50%);
color: white;
font-size: 34px;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
/* background-color: rgba(0, 0, 0, 0.4);  */
padding: 10px;
border-radius: 5px;
}  
.header h1 {
margin-bottom: 10px;
font-size: 50px;
}

.header p {
font-size: 1.2em;
}

.header_image img {
width: 100%;
height: auto;
display: block;
margin-bottom: 20px;
}

.text h3{
color: #385e79;
font-size: 1.8em;
text-align: center;
margin-top: 4rem;
}




.map_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 3rem 0;
}

.map_container h3{
    color: #385e79;
    font-size: 1.8em;
    text-align: center;
    padding: 1.5rem 0;
}

.map_display{
    width: 90vw !important;
    height: 70vh;
    margin: auto;
    margin-bottom: 2rem;
}


#form_status {
margin-top: 20px;
font-size: 1.1em;
color: green;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 80vw;
    margin: auto;
    padding: 2rem 0;
}

.card {
background-color: white;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
overflow: hidden;
width: 100%;
}

.card_image {
width: 45%;
padding: 10px;
border-radius: 50%;
height: 150px;
object-fit: cover;
cursor: pointer;
}


.card_content {
padding: 15px;

}

.card_content h3 {
font-size: 20px;
margin-bottom: 0.3rem;
}

.card_content p {
font-size: 1em;
color: #555;

}

.contact_icon_wrapper{
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;
}
.contact_icon_wrapper a{
    color: #385e79;
    text-decoration: none;
}
.contact_icon_wrapper ion-icon{
    font-size: 1.5rem;
    cursor: pointer;
}



@media (max-width:990px) {
    .card_container{
        width: 90vw;
    }
}
@media (max-width:930px) {
    .card_container{
        grid-template-columns: repeat(2, 1fr);
        width: 73vw;
        gap: 2rem;
    }
}

@media (max-width: 850px) {
    .image_container{
        height: 40vh;
    }
    .card_container{
        width: 80vw;
    }
}

@media (max-width: 735px) {
    .map_display{
        height: 50vh;
    }
}

@media (max-width: 680px) {
    .card_container{
        width: 90vw;
    }
}
@media (max-width: 630px) {
    .card_container{
        width: 95vw;
        gap: 1rem;
    }
}

@media (max-width: 570px) {
    .card_container{
        width: 60vw;
        grid-template-columns: repeat(1, 1fr);
    }
    .map_display{
        height: 40vh;
    }
}


@media (max-width: 480px) {
    .card_container{
        width: 70vw;
    }
    .text > h3{
        font-size: 1.5rem;
    }
    .map_container > h3{
        font-size: 1.5rem;
    }
    .main_text{
        font-size: 1.6rem;
    }
}

@media (max-width: 420px) {
    .card_container{
        width: 80vw;
    }
    .text > h3{
        font-size: 1.4rem;
    }
}

@media (max-width: 400px) {
    .card_container{
        width: 90vw;
    }
}

@media (max-width: 370px) {
    .card_container{
        width: 90vw;
    }
    .card_image{
        width: 42%;
        height: 17vh;
    }
}

@media (max-width: 470px) {
    .image_container{
        height: 35vh;
    }
}
@media (max-width: 355px) {
    .image_container{
        height: 30vh;
    }
}



