.hero{
    background-color: #f7f7f7;
}
.hero_content_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85vw;
    align-items: center;
    padding: 1.2rem 0;
}

.hero_txt_content{
    width: 90%;
}
.hero_txt_content h2{
    font-size: 2.2rem;
    color: #385e79;
}
.hero_txt_content p{ 
    width: 75%;
    line-height: 1.9;
    font-size: 1.1rem;
}
.hero_txt_content a{
    text-decoration: none;
    color: white;
}
.explore_btn{
    padding: 0.5rem 1.3rem;
    border: 0;
    font-size: 1.1rem;
    color: white;
    background: #385e79;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}



.hero_img_wrapper{
    width: 80%;
}
.hero_img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}


@media (max-width: 990px) {
    .hero_txt_content h2{
        font-size: 1.6rem;
    }
    .hero_txt_content > p{
        width: 95%;
        font-size: 1rem;
    }
    .hero_img_wrapper{
        width: 90%;
    }
}

@media (max-width: 850px) {
    .hero_content_wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70vw;
    }
    .hero_txt_content > p{
        width: 100%;
        font-size: 1rem;
    }
}
@media (max-width: 750px) {
    .hero_content_wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80vw;
    }
}

.hero_content_wrapper{

}


@media (max-width: 570px) {
    .hero_content_wrapper{
        width: 90vw;
    }
    .hero_txt_content{
        width: 100%;
    }
    .hero_txt_content > p{
        font-size: 0.95rem;
        width: 100%;
    }
}

@media (max-width: 415px) {
    .hero_txt_content > p{
        line-height: 1.8;
    }
}


@media (max-width: 480px) {
    .hero_img_wrapper{
        width: 100%;
    }
}